* {
margin: 0;
padding: 0;
border: 0;
}

:root {
  --shadow: 0 1px 5px rgba(0, 0, 0, .5);
}

.container {
  max-width: 1200px;

  margin: 0 auto;
  min-height: 35em;
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

}

body {


}

/* header */

header {
  background-color: #f4f4f4;
  box-shadow: 0 5px 7px -7px black;
  position: sticky;
  overflow: hidden;



}

  .stick {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
  }

header::after,
.section1::after,
#section1::after {
  content: '';
  display: block;
  clear: both;
}

.container-header {
  max-width: 1200px;
  width: 75%;
  margin: 0 auto;

}

.logo {
  float: left;
  padding: .4rem 0;
  height: 4.5 rem;
  width: auto;
}

.sitenav {
  float: right;
}

header li {
  display: inline-block;
  font-size: .7rem;
  text-decoration: none;
  padding-left: 2em;
  padding-top: 3.5rem;
  float: left;


}

header a {
  text-decoration: none;
  color: black;
  text-decoration: bold;
  font-size: 1.2em;

}

header a:hover {
  border-bottom: solid 2px lime;
  display: inline-block;
  padding-bottom: 10px;
  transition: all ease-in-out 250ms;

}

header .current a {
  border-bottom: solid 2px lime;
  display: inline-block;
  padding-bottom: 10px;
}


/* section one */

.button_1:hover {
  cursor: pointer;
  background: #3b3a30;
  color: #f4f4f4;
}

.section1::after {
  background-image: url('../img/l5large_banner.jpg');
  background-position: center;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;



 /* may need to turn off parallax scrolling for mobile */

}

.section1 {
  padding-top: 5rem;



}

.section1 h2 {
  font-size: 1.75vw;
}

.uppercase-font-36 {
  font-size: 2.2vw;
  color: white;
  padding-top: 1.1rem;

}

.font-13-uppercase {
  font-size: .85em;
  color: #3b3a30;
  line-height: 4;
}

.section1-container {
  max-width: 1200px;
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;



}

.box1  {

  grid-row: 1/2;
  margin: 3rem 0 20rem 0;

}

.box2 {

  grid-row: 1/2;
  margin: 3rem 0 20rem 0;
  text-align: right;

}

span .lime {
  color: lime;
}

.box3 {
  grid-column: 1/3;
  margin: -20rem 10rem 3rem 10rem;
  text-align: center;
  color: #3b3a30;
  line-height: 2;
  font-size: 1rem;
  /*box-shadow: var(--shadow); */
  box-sizing: border-box;
  padding-top: 2rem;


}

/*showcase clean*/

.box1  {

  grid-row: 1/2;
  margin: 3rem 0 20rem 0;

}

.box2 {

  grid-row: 1/2;
  margin: 3rem 0 20rem 0;
  text-align: right;


}

.box3 {
  grid-column: 1/3;
  margin: -20rem 10rem 3rem 10rem;
  text-align: center;
  color: white;
  line-height: 2;
  font-size: 1rem;

  box-sizing: border-box;
  padding-top: 2rem;

}



/* section two */



.wrapper1 {
  display: grid;
  grid-gap: 20px;
}

.services {
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  border: 2px solid green;
  flex-wrap: wrap;
  flex-direction: row;
}

.section3wrapper {
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;

}

.section3 {
  background: #f4f4f4;
  padding: 2rem 0 2rem 0;


}



.products1 h2, .products2

 h2 {
  padding: 1rem 0 1rem 0;
}





/*.products1:first-child {
  margin-left: 0;
}
.products2:first-child {
  margin-left: 0;
} */

.service1 {
 display: flex;
}

.service1 p {
  line-height: 1.5;
}

.products1 {
  text-decoration: none;
  color: #3b3a30;
  box-shadow: var(--shadow);
  text-align: center;
  display: block;
  background: white;
  margin-left: .5rem;
  padding: 1rem;
  flex-basis: 25%;
   

}

.service2 {
  display: flex;
}

.products2 {
  text-decoration: none;
  color: #3b3a30;
  box-shadow: var(--shadow);
  text-align: center;
  padding: 1rem;
  display: block;
  background: white;
  margin-left: .5rem;
  margin-top: .6rem;
  flex-basis: 25%;

}

/*.boxeswrapper1 {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-gap: .75rem;
  max-width: 1200px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  font-size: .85vw;
  text-align: center;
  padding: 2rem 0 2rem 0;
  color: #3b3a30;
} */

.boxeswrapper {
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  font-size: .85vw;
  text-align: center;
  padding: .6rem 0 1px .6rem;
  color: #3b3a30;
}

/*.products {
  box-shadow: var(--shadow);
  padding: 1rem 1rem 3rem 1rem;
  background: white;
  flex-basis: 21.5%;
  text-decoration: none;
  color: #3b3a30;

} */

.products:hover, .products1:hover, .products2:hover {
  color: white;
  background: #3a606e;
  transition: ease-in-out 300ms;
  opacity: .8;
  cursor: hand;
  cursor: pointer;
}

/* testimonials section */

.testimonials-section {
  background: #3a606e;
}

.testimonials-container {
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
  color: #f4f4f4;
  display: flex;
}

.testtext1,
.testtext2,
.testtext3 {
  padding: 1.5rem;
  flex: 1;
}

.comma {
  font-size: 1rem;
  color: lime;
}

.testtext1,
.testtext2,
.testtext3 p {
  font-style: italic;
  line-height: 1.5;
}

/* section 4 download e-books */

.section4 {
  background: #f4f4f4;
}

.section4-container {
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;

  box-sizing: border-box;
  min-height: 30rem;
  flex-direction: column;


}

.notready {
  background: #f4f4f4;
  padding:20px;
  display: flex;
  flex-direction: column;
  font-size: 2vw;
  color: #3b3a30;
  align-items: center;
  line-height: 1.5;




}

.ebooks {
  display: flex;
  box-shadow: var(--shadow);
  padding: 1em;
  background: #3a606e;
  color: #3b3a30;

}

.ways {

  flex: 1;
  display: flex;
  font-size: 1.4vw;




}

.msp {
  background: lightblue;
  flex: 1;
  display: flex;
  font-size: 1.4vw;


}

.waysnest1 {
  background: #3a606e;
  flex: 1;

}
.waysnest2 {
  flex: 3;
  padding: 1em 1em 0 1.5em;
  display: grid;
  color: #f4f4f4;

}

.waynest3 {
  background: black;
  flex: 1;
}

.waysnest4 {
  background: red;
  flex: 1;
}

.mspnest1 {
  background: #3a606e;
  flex: 1;


}
.mspnest2 {
  flex: 3;
  padding: 1em 1em 0 1.5em;
  background: #3a606e;
  display: grid;
  color: #f4f4f4;
}

.ebookimg {
  height: 250px;
  width: auto;
}

.ebookimg2 {
  height: 250px;
  width: auto;
}

.button2 {
  padding: 1.2em 4em 1.2em 4em;
  border-radius: 1em;
  margin: .4em 0 0 0;
  border: 2px solid #3b3a30;
  background: lightgrey;
  color: #3b3a30;
  font-size: 1vw;
  font-weight: bold;
}

.button2:hover {
  background: #3b3a30;
  color: white;
  cursor: pointer;
  border: 1px solid #3b3a30;
  transition: ease-in-out 250ms;
}

.footer {

  min-height: 30rem;
  background: #3a606e;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10vh;
  color: #f4f4f4;
}






@media (max-width: 1635px) {
.boxeswrapper1 {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-gap: 20px;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  font-size: .75;
  text-align: center;
  padding: 5rem;
  color: #3b3a30;
}

  }

  @media (max-width: 1635px) {
    .products1,
    .products2 {
      font-size: .9em
    }
  }

  @media (max-width: 1445px) {
    .products1,
    .products2 {
      font-size: .8em
    }

    .waysnest2 {
      flex: 3;
      padding: 1.5em 1em 0 1.5em;
      display: grid;
      color: #f4f4f4;
  }

  .mspnest2 {
    flex: 3;
    padding: 1.5em 1em 0 1.5em;
    background: #3a606e;
    display: grid;
    color: #f4f4f4;
  }

}


@media (max-width: 1350px) {
  .container-header,
  .container {
    width: 80%;
  }

  .section1-container {
    max-width: 1200px;
    width: 76%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    max-height: 28em;
  }

  header li {
    padding-left: 1rem;
    padding-top: 2.8rem;
  }

  .logo {
    float: left;
    padding: .4rem 0;
    height: 4rem;
    width: auto;
  }

  .uppercase-font-36 {
    font-size: 1.9rem;
    color: white;
    padding-top: 1.1rem;
}

    .font-13-uppercase {
      font-size: .75em;
      color: #3b3a30;
      line-height: 4;
      font-weight: bold;
    }

    .products1,
    .products2 {
      font-size: .7em
    }

}

@media (max-width: 1250px) {
  .container-header,
  .container {
    width: 90%;
  }

  .section1-container {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    max-height: 27em;

}

  header li {
    padding-left: .7rem;
    padding-top: 2.8rem;
  }

  .logo {
    float: left;
    padding: .4rem 0;
    height: 4rem;
    width: auto;
  }

  .uppercase-font-36 {
    font-size: 1.7rem;
    color: white;
    padding-top: 1.1rem;



}
}

@media (max-width: 1035px) {
  .container-header,
  .container {
    width: 90%;
  }

  .section1-container {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    max-height: 25em;

  }

  header li {
    padding-left: .5rem;
    padding-top: 2.7rem;
    font-size: .55rem;

  }

  .logo {
    float: left;
    padding: .4rem;
    height: 4rem;
    width: auto;
  }

  .current {
    margin-top: -.15rem;
  }

  .uppercase-font-36 {
    font-size: 1.5rem;
    color: white;
    padding-top: 1.1rem;



}


}


/* media query */

/*@media (max-width: 1660px) {

  header {
    font-size: .9em;

  }

  header li {
    margin-top: 5em;
  }

}

.uppercase-font-36 {
  font-size: 2.5rem;
  color: #3b3a30;
  padding-top: 1.1rem;
  text-align: left;


}

.font-13-uppercase {
  font-size: .85em;
  color: #3b3a30;
  line-height: 4;
}



@media (max-width: 1530px) {

  header {
    font-size: .8em;
  }

  header li {
    margin-top: 6em;
  }

  header .current a {
    border-bottom: solid 2px lime;
    display: inline-block;
    padding-bottom: 10px;
    margin-top: -1px;
  }

  .uppercase-font-36 {
    font-size: 2rem;
    color: #3b3a30;
    padding-top: 1.1rem;
    text-align: left;


  }

  .font-13-uppercase {
    font-size: .85em;
    color: #3b3a30;
    line-height: 4;
  }

}

@media (max-width: 1400px) {

  header {
    font-size: .8em;

    overflow: hidden;

  }

  header li {
    margin-top: 4.5em;
  }

  .container, .container-header {
    width: 75%;

  }

  .logo {
    height: 60px;
    width: auto;
  }

  @media (max-width: 1275px) {

    header {
      font-size: .8em;

    }

    header li {
      margin-top: 4.5em;
    }

    .container, .container-header {
      width: 80%;
    }

      .uppercase-font-36 {
        font-size: 1rem;
        line-height: 2.2rem;
      }

        .font-13-uppercase {
          font-size: .8em;
        }



    }



    @media (max-width: 1186px) {

      header {
        font-size: .7em;
        min-height: 7em;

      }

      header li {
        margin-top: 5.5em;
      }

      .container, .container-header {
        width: 80%;

        }

        header .current a {
          border-bottom: solid 2px lime;
          display: inline-block;
          padding-bottom: 10px;
          margin-top: -2px;


      }

      @media (max-width: 1062px) {

        header {
          font-size: .6em;
          min-height: 8em;

        }

        header li {
          margin-top: 6em;
        }

        .container, .container-header {
          width: 80%;

        }

        header .current a {
          border-bottom: solid 2px lime;
          display: inline-block;
          padding-bottom: 10px;
          margin-top: -3.6px;

        }

          @media (max-width: 920px) {

            nav::after {
              content: '';
              display: block;
              clear: both;
            }

            .container, .container-header {
              width: 80%;

            }





              .sitenav {
                position: absolute;
                top: 12%;
                right: 0;
                background: black;
                height: 0px;
                overflow: hidden;

              }

              .sitenav ul {
                margin: 0;
                padding: 0;
                list-style: none;
              }

              .sitenav li {
                border-bottom: 1px solid #f4f4f4;
              }

              .sitenav li:last-child {
                border-bottom: none;
              }

              .sitenav a {
                color: #f4f4f4;
                display: block;
                padding: 2em 6em 2em 7em;
                text-decoration: none;
                text-transform: uppercase;

              }


              .sitenav a:hover, .sitenav a:focus {
                background: #e4b363;
                color: #464655;
                transition: all ease-in-out 200ms;
              }

              .sitenav-open {
                height: 200px;
                width: 400px
              }

              .menu-toggle {

                padding: 1em;
                position: absolute;
                right: 3em;
                top: 1.5em;
                cursor: pointer;

              }

              .hamburger,
              .hamburger::before,
              .hamburger::after  {
                content: '';
                display: block;
                background: black;
                height: 3px;
                width: 1.5em;
                border-radius: 3px;
                transition: all ease-in-out 500ms;

              }

              .hamburger::before {
                transform: translateY(-6px);

              }

              .hamburger::after {
                transform: translateY(3px);

              }

              .open .hamburger {
                transform: rotate(45deg);

              }

              .open .hamburger::before {
                opacity: 0;
              }

              .open .hamburger::after {
                transform: translateY(-3px) rotate(-90deg);

              }


}
